/* Fade-out animation */
.fade-out-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: black;
  animation: fadeOut 0.5s ease-in-out forwards; /* Customize duration and easing */
  pointer-events: none; /* Ensure it doesn't block interactions */
  z-index: 10; /* Ensure it is above other elements */
}

@keyframes fadeOut {
  0% {
    opacity: 0;
    background-color: black; /* Ensure the background is black at the start */
  }
  100% {
    opacity: 1;
    background-color: black; /* Keep the background black throughout */
  }
}

.fade-in-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: black;
  animation: fadeIn 0.5s ease-in-out forwards; /* Customize duration and easing */
  z-index: 10;
}

@keyframes fadeIn {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;

  }
}

.end-fade-out-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: black;
  animation: fadeOut 2s ease-in-out forwards; /* Customize duration and easing */
  z-index: 10; /* Ensure it is above other elements */
}

.end-fade-in-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: black;
  animation: fadeIn 2s ease-in-out forwards; /* Customize duration and easing */
  z-index: 10;
}
