.game-view {
  height: 100vh;
  background-size: 100% 105%;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.textbox{
    position: absolute;
    background-image: url("/public/images/UI/textbox.svg");
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 150vh;
    height: 25vh;
    bottom: 7%;
}

.dialogue {
  font-size: 20px;
  padding: 13vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #ffffff;
}

.choices {
  display: flex;
  margin-top: 20px;
  gap: 20px;
}

.topbar{
    position: absolute;
    display:  flex;
    justify-content: space-around;
    align-items: flex-start;
    width: 100%;

}

.timerbox {
  position: absolute;
  background-image: url("/public/images/UI/clockbox.svg");
  background-size: 100% 100%;
  background-position: top;
  background-repeat: no-repeat;
  top: -3vh;
  width: 75vh;
  height: 20vh;
}

.timer {
  font-size: 20px;
  font-weight: bold;
  display: flex;
  padding-top: 8%;
  justify-content: center;
  align-items: center;
  color: #fdf7ef;
}

button {
  padding: 16px;
  font-size: 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: #f4ebdd;
  background-color: #483516;
}

.choice-button.selected {
  background-color: #ecc6b5;
}

.pause-button {
  position: absolute;
  width: 6vh;
  height: 6vh;
  top: 3vh;
  left: 2vw;
  color: #f4ebdd;
  background-image: url("/public/images/UI/pause.svg");
  background-size: 105% 105%;
    background-position: center;
  background-color: #0c0801b6;
  background-repeat: no-repeat;

}

.pause-modal .overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #0c0801b6;
}

.pause-modal .modal-content {
  position: absolute;
  display: flex;
  top: 50%;
  left: 50%;
  gap: 20px;
  transform: translate(-50%, -50%);
  background: white;
  padding: 25px;
  border-radius: 5px;
  flex-direction: column;
}
