.scoreboard {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-image: url("/public/images/MainMenu/tv.svg");
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: black;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr auto; /* Add an extra column */
}

.scoreboard-screen {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr auto; /* Add an extra column */
  align-items: center;
  justify-items: center;
}

.score-display {
  grid-row: 1;
  grid-column: 1; /* Place it in the first column */
  width: 100%;
  height: 100%;
  padding: 7% 14% 7% 28%; /* top right bottom left */
  z-index: 2;
}

.scoreboard-controls {
  grid-row: 1; /* Place it in the first row */
  grid-column: 2; /* Place it in the second column */
  z-index: 3;
  display: flex;
  justify-content: flex-start;
  width: 100%; /* Increase the width */
  padding-right: 41vh;
  padding-bottom: 36vh;
}
.back-button {
  width: 13vh;
  height: 13vh;
  border-radius: 50%;
  padding: 0;
  font-size: 1.2rem;
  border: none;
  cursor: pointer;
  color: #ffffff;
  background-color: #303030;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.back-button:hover {
  background-color: #474747;
  transform: scale(1.05);
}

.back-button:active {
  background-color: #3b2a12;
  transform: scale(0.95);
}

/* Media Queries */
@media (max-width: 1200px) {
  .back-button {
    width: 10vh;
    height: 10vh;
    font-size: 1rem;
  }
}

@media (max-width: 768px) {
  .back-button {
    width: 8vh;
    height: 8vh;
    font-size: 0.8rem;
  }
}

@media (max-width: 480px) {
  .back-button {
    width: 6vh;
    height: 6vh;
    font-size: 0.6rem;
  }
}