.scoreboard {
  position: fixed; /* Ensure it stays fixed relative to the viewport */
  width: 100vw;
  height: 100vh;
  background-image: url("/public/images/MainMenu/tv.svg");
  background-size: 100% 100%; /* Covers the entire screen */
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed; /* Ensures it doesn't scroll */
  background-color: black;
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
}

.scoreboard-screen {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.score-display {
  width: 100%;
  height: 100%;
  padding: 7% 35% 7% 20%; /* top right bottom left */
  z-index: 2;
  /*display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;*/
}

.scoreboard-controls {
  padding: 11.8% 19% 0 0; /* top right bottom left */
  position: absolute;
  top: 0;
  right: 0;
  z-index: 3;
}

.back-button {
  width: 13vh;
  height: 13vh;
  border-radius: 50%;
  padding: 0;
  font-size: 1.2rem;
  border: none;
  cursor: pointer;
  color: #ffffff;
  background-color: #303030;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.back-button:hover {
  background-color: #474747;
  transform: scale(1.05);
}

.back-button:active {
  background-color: #3b2a12;
  transform: scale(0.95);
}